
@{
    ViewBag.Title = "CustomerDetail";
}

<h2>Chi tiết khách hàng</h2>
<p> Mã số: @ViewBag.customer.CustomerId </p>
<p>
    Họ tên:
    @ViewBag.customer.FirstName 

    @ViewBag.customer.LastName

</p>

<p> Địa chỉ: @ViewBag.customer.Address </p>
<p> Năm sinh: @ViewBag.customer.YearOfBirth </p>